body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

body p {
  text-align: center;
}
#userInterface {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vh;

  background-color: blue;

  margin: 2px;
  align-items: center;
  justify-content: center;
}
#inputText {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
#buttons {
  margin: 10px 2px 2px 2px;
}

#queryResults {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vh;

  background-color: rgb(0, 255, 81);

  margin: 2px;
  align-items: center;
  justify-content: center;
}
